.App {
  text-align: center;
}

 body {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
 }

 h1{
  color: white;
  text-align: center;
  font-size: 1.5rem;

 }

 .list-of-task{
  padding-top :10px;
  width:400px;
  color:aliceblue;

 }

 .task-name{
  cursor:pointer;
 }

 .completed-task{
  text-decoration: line-through;
 }
